*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica,"Roboto", Arial, sans-serif;
}
.debug *{border: 1px black dashed;}
img{max-width: 100%;}
:root{
    --green: #369c36;
    --greendark: #218838;
    --orange: #ea9009;
    --orangedark: #C47100;
    --gray: #EAEAEA;
    --blacktransparent: rgba(0, 0, 0, 0.5);
}
.bg-gray{ background-color: var(--gray); }
.bg-blacktransparent{ background-color: var(--blacktransparent); }
.bg-green{
    color: white;
    background-color: var(--green);
    /* transition: background-color 0.3s ease, filter 0.3s ease; */
    &:hover{
        /* color: #51ff00; */
        color: white;
        background-color: var(--greendark);
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); */
    }
}
.bg-orange{
    color: white;
    background-color: var(--orange);
    &:hover{
        color: white;
        background-color: var(--orangedark);
    }
}
.bg-overlay-green{
    border:3px var(--green) solid;
    &:hover{
        background-color: var(--green);
    }
}
.text-white-important{
    color: white !important;
}
.container2{
    padding: 0 9%;
}
.container3{ padding: 0 5%;}

.hero-section{
    height: 43.2rem;  
    overflow: hidden;
    background-image: url('/images/index/pizzeria.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 36%;
    position: relative;
}
.hero-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

/* navbar */
.navbar-custom-mp{
    margin: 1.1rem 3.2rem 0 0;
}
.navbar a{
    color: var(--green);
}
.nav-link:hover{
    color: white !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdown-toggle::after{   /* remove little rendered arrow near the item name */
    /* display: none !important; */
}
.navbar.text-white-important,
.navbar.text-white-important .navbar-nav .nav-link,
.navbar.text-white-important .navbar-toggler-icon {
    color: white !important;
    fill: white !important;  /* For SVG icons */
}




.pizzas-bg{
    background-color: #3e2723;
    background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* pizza card */
.pizza-img{
    height: 12rem;
    overflow: hidden;
    & img{
        width: 100%;        /*fills the container*/
        height: 100%;       /*stretch to container*/
        object-fit: cover;      /* crop */
    }
}

.home-img{
    overflow: hidden;
    height: 31rem;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 15%;
        /* transform: translateY(35px); */
    }
}


/* footer */
.footer-img{
    height: 43.2rem;  
    overflow: hidden;
    background-image: url('/images/footer/red-wine-okok-final.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

