*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica,"Roboto", Arial, sans-serif;
}
.debug *{border: 1px black dashed;}
img{max-width: 100%;}
:root{
    --green: #1e8c1e;
}
.bg-green{
    color: white;
    background-color: var(--green);
    /* transition: background-color 0.3s ease, filter 0.3s ease; */
    &:hover{
        /* color: #51ff00; */
        background-color: #218838;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); */
    }
}
.bg-overlay-green{
    border:3px var(--green) solid;
    &:hover{
        background-color: var(--green);
    }
}

.hero-section{
    height: 43.2rem;  
    overflow: hidden;
    background-image: url('/images/index/pizzeria.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 36%;
    position: relative;
}
.hero-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

/* navbar */
.navbar-custom-mp{
    margin: 1.1rem 3.2rem 0 0;
}
.navbar a{
    color: var(--green);
}
.nav-link:hover{
    color: white !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdown-toggle::after{   /* remove little rendered arrow near the item name */
    /* display: none !important; */
}

/* pizza card */
.pizza-img{
    height: 12rem;
    overflow: hidden;
    & img{
        width: 100%;        /*fills the container*/
        height: 100%;       /*stretch to container*/
        object-fit: cover;      /* crop */
    }
}




