<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Index</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
</head>
<body class="debug ">


    <section class="hero-section d-flex align-items-center justify-content-center">
        
        <header th:replace="~{fragments/layout::header}"/>

        <div class="hero-overlay d-flex flex-column align-items-center justify-content-center rounded text-white" style="padding: 0.92rem 0.92rem 1.28rem 0.92rem; margin-top: -1.2rem;">
            <h1 class="fst-italic fw-normal" style="font-size: 2.6rem;" >La Dolce Vita feelings</h1>
            <h3 style="margin-top: -0.22rem;">Come to eat the most delicious Italian pizzas.</h3>
            <a class="btn bg-overlay-green " role="button" style="color: white; margin-top: 0.4rem;" th:href="@{/pizzas}">Eat Pizzas</a>
        </div>
    </section>


    <div class="container2">

        <section class="mt-4 row d-flex rounded bg-gray">
            <div class="col-7 home-img p-3">
                <img th:src="@{/images/index/inheritance.jpg}" alt="" class="rounded">
            </div>
            <div class="col-5" style="padding: 2rem 2rem 2rem 1rem;">
                <h1>Our Heritage</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt officiis voluptatibus sunt velit atque blanditiis exercitationem ratione placeat tenetur, eaque, aspernatur nemo nobis dolores doloribus repellendus beatae tempore! Perspiciatis, corrupti?</p>
            </div>
        </section>

        <section class="mt-4 row d-flex rounded bg-gray">
            <div class="col-5" style="padding: 2rem 1rem 2rem 2rem;">
                <h1>The best flavor for everyone</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt officiis voluptatibus sunt velit atque blanditiis exercitationem ratione placeat tenetur, eaque, aspernatur nemo nobis dolores doloribus repellendus beatae tempore! Perspiciatis, corrupti?</p>
            </div>
            <div class="col-7 home-img p-3">
                <img th:src="@{/images/index/3girls.jpg}" alt="" class="rounded">
            </div>
        </section>

        <section class="mt-4  mb-2 row d-flex rounded bg-gray">
            <div class="col-7 home-img p-3 d-flex align-items-end">
                <img th:src="@{/images/index/staff2.jpg}" alt="" class="rounded">
            </div>
            <div class="col-5" style="padding: 2rem 2rem 2rem 1rem;">
                <h1>Our Staff</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt officiis voluptatibus sunt velit atque blanditiis exercitationem ratione placeat tenetur, eaque, aspernatur nemo nobis dolores doloribus repellendus beatae tempore! Perspiciatis, corrupti?</p>
            </div>
        </section>

    </div>

    <div class="container">
        <form action="">
            
        </form>
    </div>


</body>
</html>