<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas Index</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
</head>
<body class=" pizzas-bg">
    
    <header th:replace="~{fragments/layout::header}"/>

    <div class="container">

        <form th:action="@{/pizzas/searchByForm}" method="get" class="card rounded p-4 bg-blacktransparent text-white mb-4">
            <h3 class="fs-2">Filter by</h3>
            <div class="row mb-2">
                <div class="form-group col-sm-12 col-md-6 mb-2">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Name">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                    <label for="content">Ingredients</label>
                    <input type="text" class="form-control" name="content" id="content" placeholder="Ingredients">
                </div>
            </div>
            <fieldset class="form-group mb-3">
                <legend>Dietary Restrictions</legend>
                <div class="form-row">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="restrictions" id="restrictionGlutenFree" value="gluten-free">
                        <label for="restrictionGlutenFree" class="form-check-label">🌾Gluten-Free</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="restrictions" id="restrictionVegetarian" value="vegetarian">
                        <label for="restrictionVegetarian" class="form-check-label">🥦Vegetarian</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="restrictions" id="restrictionHalal" value="halal">
                        <label for="restrictionHalal" class="form-check-label">🕌 Halal</label>
                    </div>
                </div>
            </fieldset>
            <div class="text-start d-flex gap-3">
                <button type="submit" class="btn btn-primary ">Submit</button>
                <a type="reset" class="btn btn-secondary" th:href="@{/pizzas}">Clean all</a>
            </div>
        </form>
        
        
        <article class="mb-4">
            <div class="row g-3" th:if="${ not #lists.isEmpty(pizzas) }">  <!--!BETTER than pizzas.size()>0 -->
                <div class="col-sm-6 col-md-4 col-lg-3" th:each="pizza : ${pizzas}">
                    <div class="card h-100">
                        <div class="pizza-img d-flex justify-content-center align-items-center">
                            <img th:src="@{ /images/pizzas/{img} (img=${pizza.picture}) }" alt="pizza image" class="card-image-top ">
                        </div>
                        <div class="card-body d-flex flex-column position-relative" style="padding-bottom: 3.3rem;">
                            <h4 th:text="${pizza.id}" class="fs-6 mb-1"  />
                            <h2 th:text="${pizza.title}" class="card-title" />
                            <p th:text="${pizza.content}" class="card-text" style="margin-top: -0.2rem;" />

                            <a th:href="@{/reviews/{id}/form(id=${pizza.id} )}" th:text="|Form add new review!|" />
                            <a th:href="@{/specialoffers/{id}/form(id=${pizza.id} )}" th:text="|Form add new specialoffer!|" />
                            
                            <div class="position-absolute d-flex text-end gap-1" style="bottom: 1rem; right:1rem; padding-left: 1rem;">
                                <a href="#" class="btn bg-orange  d-flex " style="gap: 0.32rem;">   <!--using bootstap @mediaqueries to show one or the other -->
                                    <span class="btn-text   d-sm-inline d-md-inline d-lg-inline d-xl-inline">Add</span>  <!--d-none -->
                                    <i class="bi bi-plus-square-fill  d-sm-inline d-md-inline  d-lg-inline  d-xl-inline"></i>
                                </a>
                                <a th:href="@{/pizzas/{id}(id=${pizza.id} )}" class="btn bg-green  " >
                                    <span class="btn-text  d-xs-inline  d-sm-none d-md-inline  d-lg-inline d-xl-inline">View more</span>
                                    <i class="bi bi-info-circle-fill  d-none d-sm-inline d-md-none  d-lg-none  d-xl-none"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 th:if="${ #lists.isEmpty(pizzas) }" th:text="|No pizzas found.|" class="text-center text-white"/>  <!--better, replaced ex th:unless -->
               <!-- <p th:text="${pizzas.size() > 0} ? 'Number of pizzas: ' + ${pizzas.size()} : 'No pizzas found.'" />  //compact & easy, here can crash if pizzas==null -->
        </article>
        
    </div>

    <footer class="footer-img">
        <div >
            <div class="col-5">
                
            </div>
            <div class="col-7">

            </div>
        </div>
    </footer>

</body>
</html>