<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Index</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
</head>
<body class="debug bg-warning">
    
    <h1></h1>

    <div class="container">
        <p th:if="${pizzas == null}" th:text="|non-existing pizzas!|" />
        <div class="row g-3" th:if="${pizzas.size() > 0}"> 
            <div class="col-3" th:each="pizza : ${pizzas}">
                <div class="card">
                    <img th:src="${pizza.picture}" alt="pizza image" class="card-image-top">
                    <div class="card-body">
                        <h4 th:text="${pizza.id}" class="fs-6" style="margin-bottom: -0.1rem;" />
                        <h2 th:text="${pizza.name}" class="card-title"/>
                        <p th:text="${pizza.content}" class="card-text"/>
                        <a th:href="@{pizzas/{id} (id=${pizza.id} )}" class="btn btn-success">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <p th:unless="${pizzas.size() > 0}" th:text="|No pizza found, pizzas existing.|" />
    </div>

    <!-- <h2 th:if="${bestmovies != null}" th:text="|Best movies: ${bestmovies}|"></h2> -->


</body>
</html>