<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Index</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
</head>
<body class="debug ">
    
    <header th:replace="~{fragments/layout::header}"/>

    <div class="container mt-4">
        <p th:if="${pizzas == null}" th:text="|non-existing pizzas!|" />
        <div class="row g-3" th:if="${pizzas.size() > 0}"> 
            <div class="col-sm-6 col-md-4 col-lg-3" th:each="pizza : ${pizzas}">
                <div class="card h-100">
                    <div class="pizza-img d-flex justify-content-center align-items-center">
                        <img th:src="@{ /images/pizzas/{img} (img=${pizza.picture}) }" alt="pizza image" class="card-image-top ">
                    </div>
                    <div class="card-body d-flex flex-column position-relative" style="padding-bottom: 3rem;">
                        <h4 th:text="${pizza.id}" class="fs-6 mb-2"  />
                        <h2 th:text="${pizza.name}" class="card-title" />
                        <p th:text="${pizza.content}" class="card-text" />
                        <a th:href="@{pizzas/{id}(id=${pizza.id} )}" class="btn bg-green position-absolute " style="bottom: 1rem; right:1rem;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <p th:unless="${pizzas.size() > 0}" th:text="|No pizza found, pizzas existing.|" />
    </div>

    <!-- <h2 th:if="${bestmovies != null}" th:text="|Best movies: ${bestmovies}|"></h2> -->


</body>
</html>